<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.porco.javassist.mapper.TemplateFieldMapper">

    <resultMap id="BaseResultMap" type="com.porco.javassist.domain.TemplateField">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="templateId" column="template_id" jdbcType="INTEGER"/>
            <result property="fieldType" column="field_type" jdbcType="VARCHAR"/>
            <result property="fieldName" column="field_name" jdbcType="VARCHAR"/>
            <result property="businessName" column="business_name" jdbcType="VARCHAR"/>
            <result property="selected" column="selected" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,template_id,field_type,
        field_name,business_name,selected
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from template_field
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from template_field
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.porco.javassist.domain.TemplateField" useGeneratedKeys="true">
        insert into template_field
        ( id,template_id,field_type
        ,field_name,business_name,selected
        )
        values (#{id,jdbcType=BIGINT},#{templateId,jdbcType=INTEGER},#{fieldType,jdbcType=VARCHAR}
        ,#{fieldName,jdbcType=VARCHAR},#{businessName,jdbcType=VARCHAR},#{selected,jdbcType=TINYINT}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.porco.javassist.domain.TemplateField" useGeneratedKeys="true">
        insert into template_field
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="templateId != null">template_id,</if>
                <if test="fieldType != null">field_type,</if>
                <if test="fieldName != null">field_name,</if>
                <if test="businessName != null">business_name,</if>
                <if test="selected != null">selected,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="templateId != null">#{templateId,jdbcType=INTEGER},</if>
                <if test="fieldType != null">#{fieldType,jdbcType=VARCHAR},</if>
                <if test="fieldName != null">#{fieldName,jdbcType=VARCHAR},</if>
                <if test="businessName != null">#{businessName,jdbcType=VARCHAR},</if>
                <if test="selected != null">#{selected,jdbcType=TINYINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.porco.javassist.domain.TemplateField">
        update template_field
        <set>
                <if test="templateId != null">
                    template_id = #{templateId,jdbcType=INTEGER},
                </if>
                <if test="fieldType != null">
                    field_type = #{fieldType,jdbcType=VARCHAR},
                </if>
                <if test="fieldName != null">
                    field_name = #{fieldName,jdbcType=VARCHAR},
                </if>
                <if test="businessName != null">
                    business_name = #{businessName,jdbcType=VARCHAR},
                </if>
                <if test="selected != null">
                    selected = #{selected,jdbcType=TINYINT},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.porco.javassist.domain.TemplateField">
        update template_field
        set 
            template_id =  #{templateId,jdbcType=INTEGER},
            field_type =  #{fieldType,jdbcType=VARCHAR},
            field_name =  #{fieldName,jdbcType=VARCHAR},
            business_name =  #{businessName,jdbcType=VARCHAR},
            selected =  #{selected,jdbcType=TINYINT}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <select id="selectAllBySelected" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from template_field
        where
        selected = #{selected,jdbcType=NUMERIC}
    </select>
    <select id="selectAllByTemplateId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from template_field
        where
        template_id = #{templateId,jdbcType=NUMERIC}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from template_field
    </select>
</mapper>
